.Chats-List {
  margin-top: 16px !important;
  background-color: #3168B9 !important;
}

.Chat-Title {
  color: white;
  text-align: center;
}

.Chat-Item {
  --background: white !important;
  --border-radius: 20px !important;
  margin-bottom: 8px !important;
  padding : 5px 20px !important;
   --min-height: 100px;
}

.Chats-label p{
  font-size: 1rem !important;
  margin: 5px !important;
  margin-left: 25px !important;
}

.Chats-label h2{
  font-size: 1.2rem !important;
  color: #1e3a8a !important;
  font-weight: 600 !important;
  margin: 2px !important;
  margin-left: 25px !important;
}

.avatar-placeholder {
  background: #3880ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.7);
  height: 100%;
  width: 100%;
  border-radius: 20%;
  margin-left: 15px;
  border: 1.6px solid #083579;
}

.Chat-p{
  color: #3168b9 !important;
  font-weight: 600 !important;
  margin: 2px 0 4px !important;
  font-size: 0.75rem !important;
}